$skilltable-row-height: 110px;

@import './Block/index';
@import './Skill/index';
@import './Listing/index';
@import './Filter/index';

.SkillTable__Header {
    text-align: center;
}

.SkillTable__Filter {
    margin-bottom: 4em;
}
