.ScrollProgress__Progress {
    display: none;
    @media (min-width: map_get($breakpoints, 'lg') + px) {
        display: block;
        position: fixed;
        top: 0;
        z-index: 100;
        background-color: $accent-color;
        transition: width 200ms;
        transition-timing-function: ease-out;
        height: 2px;
    }
}