.ObservablesMenu {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.ObservablesMenu__Item {
    padding: 5px 10px;
    border-radius: 5px;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 100%
    );
}
