@import './Item/index';

.List {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.List--horizontal {
    display: block;
    @media (min-width: map_get($breakpoints, 'sm') + px) {
        display: flex;
        flex-flow: row wrap;
    }
}