/**
REF: https://github.com/corysimmons/typographic

RATIO:
$minor-second   = 1.067
$major-second   = 1.125
$minor-third    = 1.2
$major-third    = 1.25
$perfect-fourth = 1.333
$aug-fourth     = 1.414
$perfect-fifth  = 1.5
$minor-sixth    = 1.6
$golden         = 1.618
$major-sixth    = 1.667
$minor-seventh  = 1.778
$major-seventh  = 1.875
$octave         = 2
$major-tenth    = 2.5
$major-eleventh = 2.667
$major-twelfth  = 3
$double-octave  = 4

DEFAULTS:
$line-height-ratio   = 1.75
$heading-ratio       = $golden
$body-font           = $helvetica
$body-font-weight    = 300
$body-color          = #666
$heading-font        = $helvetica
$heading-font-weight = 500
$heading-color       = #111
$min-font            = 13px
$max-font            = 20px
$min-width           = 600px
$max-width           = 1000px
$vertical-rhythm     = true
**/
html {
  font-family: "Hoefler Text", "Baskerville old face", "Garamond", "Times New Roman", "serif";
  font-weight: 300;
  color: #555;
  font-size: 13px;
  line-height: 1.75em; }
  @media (min-width: 480px) {
    html {
      font-size: calc( 13px + (20 - 13) * ((100vw - 480px) / (1280 - 480))); } }
  @media (min-width: 1280px) {
    html {
      font-size: 20px; } }

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0; }

p, blockquote, pre,
address,
dl, ol, ul,
table {
  margin-bottom: 1.75em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Hoefler Text", "Baskerville old face", "Garamond", "Times New Roman", "serif";
  font-weight: 500;
  color: #222;
  clear: both; }

h1 {
  font-size: 30.17559px;
  margin-top: 0.9424em;
  line-height: 1.13088em;
  margin-bottom: 0.18848em; }
  @media (min-width: 480px) {
    h1 {
      font-size: calc( 30.17559px + (46.42398 - 30.17559) * ((100vw - 480px) / (1280 - 480))); } }
  @media (min-width: 1280px) {
    h1 {
      font-size: 46.42398px;
      margin-top: 0.9424em;
      line-height: 1.13088em;
      margin-bottom: 0.18848em; } }

h2 {
  font-size: 25.49842px;
  margin-top: 1.11527em;
  line-height: 1.33832em;
  margin-bottom: 0.2493em; }
  @media (min-width: 480px) {
    h2 {
      font-size: calc( 25.49842px + (39.22834 - 25.49842) * ((100vw - 480px) / (1280 - 480))); } }
  @media (min-width: 1280px) {
    h2 {
      font-size: 39.22834px;
      margin-top: 1.11527em;
      line-height: 1.33832em;
      margin-bottom: 0.24011em; } }

h3 {
  font-size: 21.54621px;
  margin-top: 1.31984em;
  line-height: 1.58381em;
  margin-bottom: 0.30072em; }
  @media (min-width: 480px) {
    h3 {
      font-size: calc( 21.54621px + (33.14801 - 21.54621) * ((100vw - 480px) / (1280 - 480))); } }
  @media (min-width: 1280px) {
    h3 {
      font-size: 33.14801px;
      margin-top: 1.31984em;
      line-height: 1.58381em;
      margin-bottom: 0.28786em; } }

h4 {
  font-size: 18.20658px;
  margin-top: 1.56194em;
  line-height: 1.87432em;
  margin-bottom: 0.36386em; }
  @media (min-width: 480px) {
    h4 {
      font-size: calc( 18.20658px + (28.01012 - 18.20658) * ((100vw - 480px) / (1280 - 480))); } }
  @media (min-width: 1280px) {
    h4 {
      font-size: 28.01012px;
      margin-top: 1.56194em;
      line-height: 1.87432em;
      margin-bottom: 0.34585em; } }

h5 {
  font-size: 15.38459px;
  margin-top: 1.84844em;
  line-height: 2.21813em;
  margin-bottom: 0.36969em; }
  @media (min-width: 480px) {
    h5 {
      font-size: calc( 15.38459px + (23.66859 - 15.38459) * ((100vw - 480px) / (1280 - 480))); } }
  @media (min-width: 1280px) {
    h5 {
      font-size: 23.66859px;
      margin-top: 1.84844em;
      line-height: 2.21813em;
      margin-bottom: 0.36969em; } }

h6 {
  font-size: 13px;
  margin-top: 2.1875em;
  line-height: 2.625em;
  margin-bottom: 0.50481em; }
  @media (min-width: 480px) {
    h6 {
      font-size: calc( 13px + (20 - 13) * ((100vw - 480px) / (1280 - 480))); } }
  @media (min-width: 1280px) {
    h6 {
      font-size: 20px;
      margin-top: 2.1875em;
      line-height: 2.625em;
      margin-bottom: 0.47115em; } }

blockquote {
  font-style: italic; }
  blockquote cite {
    display: block;
    font-style: normal; }

pre {
  padding: 0.875em;
  margin-bottom: 1.75em; }
  pre code {
    padding: 0; }

code {
  font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", "monospace";
  padding: 0.0875em 0.2625em;
  line-height: 0; }

big, small, sub, sup {
  line-height: 0; }

abbr, acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help; }

address {
  font-style: normal; }

dt {
  color: #222;
  font-weight: bold; }

ul {
  padding-left: 1.1em; }

ol {
  padding-left: 1.4em; }

fieldset {
  padding: 0.875em 1.75em 1.75em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 1.8375em; }
  @media (min-width: 1280px) {
    fieldset {
      margin-bottom: 2.07813em; } }
  fieldset button, fieldset input[type="submit"] {
    margin-bottom: 0; }

legend {
  color: #222;
  font-weight: bold; }

input[type="text"], input[type="email"], input[type="password"], textarea {
  display: block;
  max-width: 100%;
  padding: 0.4375em;
  font-size: 13px;
  margin-bottom: 1.18125em; }
  @media (min-width: 480px) {
    input[type="text"], input[type="email"], input[type="password"], textarea {
      font-size: calc( 13px + (20 - 13) * ((100vw - 480px) / (1280 - 480))); } }
  @media (min-width: 1280px) {
    input[type="text"], input[type="email"], input[type="password"], textarea {
      font-size: 20px;
      margin-bottom: 0.51406em; } }

input[type="submit"], button {
  display: block;
  cursor: pointer;
  font-size: 13px;
  padding: 0.4375em 1.75em;
  margin-bottom: 1.18125em; }
  @media (min-width: 480px) {
    input[type="submit"], button {
      font-size: calc( 13px + (20 - 13) * ((100vw - 480px) / (1280 - 480))); } }
  @media (min-width: 1280px) {
    input[type="submit"], button {
      font-size: 20px;
      margin-bottom: 1.3125em; } }

label {
  display: block;
  padding-bottom: 0.21875em;
  margin-bottom: -0.21875em; }

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 2.1875em; }
  @media (min-width: 1280px) {
    table {
      margin-bottom: 2.0125em; } }

th {
  text-align: left;
  color: #222;
  padding: 0.21875em 0.875em; }
  @media (min-width: 1280px) {
    th {
      padding: 0.4375em 0.875em; } }

td {
  padding: 0.875em;
  padding: 0.21875em 0.875em; }
  @media (min-width: 1280px) {
    td {
      padding: 0.4375em 0.875em; } }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #ff0000;
  border-bottom: 1px dotted #ff0000; }

.centered {
  text-align: center; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.no-margin {
  margin: 0; }

/** generic components */
.Accent {
  color: #ff0000; }

.Section {
  margin: 0 20px;
  display: block; }
  @media (min-width: 768px) {
    .Section {
      max-width: 768px;
      margin: 2em auto; } }
  @media (min-width: 1024px) {
    .Section {
      max-width: 1024px;
      margin: 4em auto; } }
  @media (min-width: 1280px) {
    .Section {
      max-width: 1280px;
      margin: 6em auto; } }

.Row {
  display: block;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .Row {
      display: flex;
      flex-flow: row;
      justify-content: flex-start; } }

@media (min-width: 768px) {
  .Row--border .Column {
    border-left: 1px solid #555; }
  .Row--border .Column:first-of-type {
    border-left: 0px; } }

@media (min-width: 768px) {
  .Row--gutter .Column {
    padding-left: 10px;
    padding-right: 10px; }
  .Row--gutter .Column:first-of-type {
    padding-left: 0; }
  .Row--gutter .Column:last-of-type {
    padding-right: 0; } }

.Column {
  flex: 1;
  flex-flow: column; }

.Item__Header {
  margin-right: 5px; }
  .Item__Header::after {
    content: ':'; }

.List {
  list-style-type: none; }
  @media (min-width: 768px) {
    .List {
      margin: 0;
      padding: 0; } }

.List--horizontal {
  display: block; }
  @media (min-width: 768px) {
    .List--horizontal {
      display: flex;
      flex-flow: row wrap; } }

.Loader__Grid {
  width: 80px;
  height: 80px;
  margin: 100px auto; }

.Loader__Grid > div {
  width: 33%;
  height: 33%;
  background-color: #ff0000;
  float: left;
  -webkit-animation: Loader_CubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: Loader_CubeGridScaleDelay 1.3s infinite ease-in-out; }

.Loader__Grid .Loader__Cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.Loader__Grid .Loader__Cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.Loader__Grid .Loader__Cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.Loader__Grid .Loader__Cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.Loader__Grid .Loader__Cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.Loader__Grid .Loader__Cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.Loader__Grid .Loader__Cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.Loader__Grid .Loader__Cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.Loader__Grid .Loader__Cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes Loader_CubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

@keyframes Loader_CubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

/** components */
.Logo {
  font-size: 30.17559px;
  margin-top: 0.9424em;
  line-height: 1.13088em;
  margin-bottom: 0.18848em;
  display: block;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 480px) {
    .Logo {
      font-size: calc( 30.17559px + (46.42398 - 30.17559) * ((100vw - 480px) / (1280 - 480))); } }
  @media (min-width: 1280px) {
    .Logo {
      font-size: 46.42398px;
      margin-top: 0.9424em;
      line-height: 1.13088em;
      margin-bottom: 0.18848em; } }
  @media (min-width: 768px) {
    .Logo {
      max-width: 300px; } }
  @media (min-width: 1280px) {
    .Logo {
      max-width: 360px; } }
  .Logo:hover {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }

.Block {
  display: none;
  text-align: center;
  color: #ff0000;
  cursor: not-allowed;
  font-size: 30.17559px;
  margin-top: 0.9424em;
  line-height: 1.13088em;
  margin-bottom: 0.18848em; }
  @media (min-width: 480px) {
    .Block {
      font-size: calc( 30.17559px + (46.42398 - 30.17559) * ((100vw - 480px) / (1280 - 480))); } }
  @media (min-width: 1280px) {
    .Block {
      font-size: 46.42398px;
      margin-top: 0.9424em;
      line-height: 1.13088em;
      margin-bottom: 0.18848em; } }
  @media (min-width: 1024px) {
    .Block {
      line-height: 110px;
      margin: 0; } }
  @media (min-width: 1280px) {
    .Block {
      display: block;
      width: 110px;
      height: 110px;
      margin: 5px;
      font-size: 0.8em;
      background: #eee;
      color: #ccc; } }

.Block--important {
  display: block; }

@media (min-width: 1280px) {
  .Block--position-0.Block--enabled {
    background: #ffbaba; }
  .Block--position-1.Block--enabled {
    background: #ff7b7b; }
  .Block--position-2.Block--enabled {
    background: #ff5252; }
  .Block--position-3.Block--enabled {
    background: #ff0000; }
  .Block--position-4.Block--enabled {
    background: #a70000; }
  .Block--enabled {
    color: #eee;
    box-shadow: 0 4px 4px rgba(4, 0, 4, 0.7);
    cursor: pointer; }
    .Block--enabled:hover {
      background: #ff0000;
      transition: background-color 1s ease;
      animation: bounce 1s infinite;
      animation-iteration-count: 1;
      transform-origin: center bottom; } }

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    box-shadow: 0 4px 4px rgba(4, 0, 4, 0.7); }
  40%, 43% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
    transform-style: preserve-3d;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.01); }
  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
    transform-style: preserve-3d;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5); }
  90% {
    transform: translate3d(0, -4px, 0);
    transform-style: preserve-3d;
    box-shadow: 0 4px 4px rgba(4, 0, 4, 0.7); } }

.Skill__Row__Header {
  text-align: center; }
  @media (min-width: 1280px) {
    .Skill__Row__Header {
      line-height: 110px;
      text-align: right;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 20px; } }

.Skill__Row__Description {
  text-align: center; }
  @media (min-width: 1280px) {
    .Skill__Row__Description {
      text-align: right; } }

.Skill__List {
  margin: 0; }

.SkillTable__Filter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  font-size: 21.54621px;
  margin-top: 1.31984em;
  line-height: 1.58381em;
  margin-bottom: 0.30072em;
  border: 2px solid rgba(255, 0, 0, 0.5);
  color: #ff0000; }
  @media (min-width: 480px) {
    .SkillTable__Filter {
      font-size: calc( 21.54621px + (33.14801 - 21.54621) * ((100vw - 480px) / (1280 - 480))); } }
  @media (min-width: 1280px) {
    .SkillTable__Filter {
      font-size: 33.14801px;
      margin-top: 1.31984em;
      line-height: 1.58381em;
      margin-bottom: 0.28786em; } }
  .SkillTable__Filter:focus {
    border-color: #ff0000;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.5);
    outline: 0 none;
    border: 2px solid rgba(255, 0, 0, 0.5); }
  .SkillTable__Filter::placeholder {
    color: #ff9999; }

.Contact {
  text-align: center; }
