body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $accent-color;
    border-bottom: 1px dotted $accent-color;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.no-margin {
    margin: 0;
}