$breakpoints: (
    'xs' : 480,
    'sm' : 768,
    'md' : 1024,
    'lg' : 1280
);

$body-color: #555;
$heading-color: #222;
$accent-color: #ff0000;

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $accent-color;
    border-bottom: 1px dotted $accent-color;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.no-margin {
    margin: 0;
}